language: node_js

# nodejs版本
node_js: 
    - "8"

# addons:
#   chrome: stable

# sudo: required

# before_script:
#   - "sudo chown root /opt/google/chrome/chrome-sandbox"
#   - "sudo chmod 4755 /opt/google/chrome/chrome-sandbox"

# Travis-CI Caching
cache:
  directories:
    - node_modules

# S: Build Lifecycle
install:
  - npm install

# 无其他依赖项所以执行npm run build 构建就行了
script:
  - npm run build

after_script:
  - cd ./dist
  - git init
  - git config user.name "${U_NAME}"
  - git config user.email "${U_EMAIL}"
  - git add -A
  - git commit -m "deploy vue-ui component library"
  - git push --f --quiet "https://${GH_TOKEN}@${GH_REF}" master:${P_BRANCH}
# E: Build LifeCycle

#指定分支，只有指定的分支提交时才会运行脚本
branches:
  only:
    - master

env:
 global:
   # 我将其添加到了travis-ci的环境变量中
   - GH_REF: https://github.com/zyyrabbit/vue.git
   - P_BRANCH: gh-pages